.form {
  max-width: 65ch;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-xs);
}

.form__input {
  display: flex;
  flex-direction: column;
}


input, textarea {
    padding: var(--space-2xs) var(--space-2xs);
    border-color: var(--form-border);
    border-width: 0.1rem;
    border-radius: var(--border-radius, 10px);
    border-style: solid;
}

label {
  font-size: var(--step-1);
  font-weight: 500;
}

