.feed__container {
  display: grid;
  grid-template-columns: repeat(auto-fit,1fr);
  gap: var(--space-s);
}
@media screen and (min-width: 35rem) {
  .feed__container {
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));

  }
  
}
