extends layout 

block content
  h1 #{title} 
  .form__container
    form.form(action="/account" method="POST")
      .form__input
        label(for='name') Name 
        input(type='text' name='name' value=user.name)
      .form__input
        label(for="name") Email 
        input(type="text" name="email" value=user.email)
      .form__input
        label(for="newPassword") Password 
        input(type="password" name="newPassword" value='')
      .account__button.button
        input.button(type="submit" value="Update My Account")