extends layout 

block content
  h1 #{title}
  .form__container
    form.form(action="/register" method="POST")
      .form__input
        label(for='name') Name 
        input(type='text' name='name' value=name autofocus)
      .form__input
        label(type='email') Email
        input(type='text' name='email' value=email)
      .form__input
        label(for='password') Password
        input(type='password' name='password' )
      .form__input
        label(for='passwordconfirm') Confirm Password
        input(type='password' name='passwordconfirm')
      .register__button.button
        input(type='submit' value='Register')