mixin nav 
  nav 
    .nav__container
      if user
        a(href=`/logout`).nav__link
            span Logout
        a(href=`/account` title='Edit Account').nav__link.gravatar
          img(src=user.gravatar)
      else 
        a(href=`/register`).nav__link
            span Register
        a(href=`/login`).nav__link.button
            span Login