mixin tilForm
  #entry__form--container
    form(action="/add" method="POST")
      label(for="title") Title 
      input(type="text" name="title")
      label(for="body") Today I Learned...
      textarea(name="body" placeholder="Today I Learned...")

      label(for="tags") Tags
      input(type="text" name="tags" placeholder="Separate tags with commas")
      button(type="submit" value="Post") Post
