/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* text overflows */
h1,h2,h3,h4,h5,h6, p {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* smooth scroll for all html elements */
html:focus-within {
  scroll-behavior: smooth;
}

/* body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* list styles */
ul,ol {
  list-style: none;
}

/* tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fluid images */
img, video, picture, cavas, svg {
  max-width: 100%;
  display: block;
}

/* inherit font for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove anmation for reduced motion preferences */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}