/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* text overflows */
h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* smooth scroll for all html elements */
html:focus-within {
  scroll-behavior: smooth;
}

/* body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* list styles */
ul, ol {
  list-style: none;
}

/* tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* fluid images */
img, video, picture, cavas, svg {
  max-width: 100%;
  display: block;
}

/* inherit font for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove anmation for reduced motion preferences */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* @link https://utopia.fyi/space/calculator?c=320,21,1.2,2000,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  --max-width: 62.5rem;
  --space-3xs: clamp(0.31rem, calc(0.3rem + 0.06vw), 0.38rem);
  --space-2xs: clamp(0.69rem, calc(0.68rem + 0.06vw), 0.75rem);
  --space-xs: clamp(1rem, calc(0.98rem + 0.12vw), 1.13rem);
  --space-s: clamp(1.31rem, calc(1.28rem + 0.18vw), 1.5rem);
  --space-m: clamp(2rem, calc(1.95rem + 0.24vw), 2.25rem);
  --space-l: clamp(2.63rem, calc(2.55rem + 0.36vw), 3rem);
  --space-xl: clamp(3.94rem, calc(3.83rem + 0.54vw), 4.5rem);
  --space-2xl: clamp(5.25rem, calc(5.11rem + 0.71vw), 6rem);
  --space-3xl: clamp(7.88rem, calc(7.66rem + 1.07vw), 9rem);
  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.23rem + 0.42vw), 0.75rem);
  --space-2xs-xs: clamp(0.69rem, calc(0.6rem + 0.42vw), 1.13rem);
  --space-xs-s: clamp(1rem, calc(0.9rem + 0.48vw), 1.5rem);
  --space-s-m: clamp(1.31rem, calc(1.13rem + 0.89vw), 2.25rem);
  --space-m-l: clamp(2rem, calc(1.81rem + 0.95vw), 3rem);
  --space-l-xl: clamp(2.63rem, calc(2.27rem + 1.79vw), 4.5rem);
  --space-xl-2xl: clamp(3.94rem, calc(3.54rem + 1.96vw), 6rem);
  --space-2xl-3xl: clamp(5.25rem, calc(4.54rem + 3.57vw), 9rem);
  /* Custom pairs */
  --space-s-l: clamp(1.31rem, calc(0.99rem + 1.61vw), 3rem);
}

body {
  font-size: var(--step--1, 1.2rem);
  background: var(--background-main, #fefefe);
  background-image: var(--background-pattern);
  --border-radius: 10px;
}

header, #footer__container {
  margin-top: var(--space-xs, 1rem);
  margin-bottom: var(--space-xs, 1rem);
}

h1 {
  font-size: var(--step-3, 2.27rem);
}

h2 {
  font-size: var(--step-2, 1.89rem);
}

h3 {
  font-size: var(--step-1, 1.58rem);
}

h4 {
  font-size: var(--step-0, 1.31rem);
}

/* Default Layout */
.default-layout {
  margin: 0 auto;
  width: min(var(--max-width, 62.5rem), 100% - var(--space-s));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Skip to content */
[href="#main"] {
  display: inline-block;
  position: absolute;
  top: -10rem;
}
[href="#main"]:focus {
  top: 0rem;
}

/* Main Element */
#main {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-m);
  margin-block-end: var(--space-s);
}

:root {
  --background-main: #f7f7f7;
  --background-pattern: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23333333' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  --text-default: #073B4C;
  --nav-link-default: #073B4C;
  --tag-color: #118AB2;
  --remove-color: #EF476F;
  --form-background: #ffffff;
  --form-border: #073b4c;
}

.link--no-style {
  text-decoration: none;
}

/* @link https://utopia.fyi/type/calculator?c=320,21,1.2,2000,24,1.25,5,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  --step--3: clamp(0.76rem, calc(0.76rem + 0.01vw), 0.77rem);
  --step--2: clamp(0.91rem, calc(0.90rem + 0.05vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.07rem + 0.10vw), 1.20rem);
  --step-0: clamp(1.31rem, calc(1.28rem + 0.18vw), 1.50rem);
  --step-1: clamp(1.58rem, calc(1.52rem + 0.29vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.80rem + 0.43vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.14rem + 0.63vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.54rem + 0.90vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(3.02rem + 1.25vw), 4.58rem);
}

body {
  font-family: system-ui, sans-serif;
}

.remove-post {
  font-size: var(--step-0);
  color: var(--remove-color);
}

#header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  margin-top: auto;
}

nav a {
  text-decoration: none;
  color: var(--nav-link-default, #073B4C);
}
nav a:hover {
  text-decoration: underline;
}

.nav__container {
  display: inline-flex;
  align-items: center;
}
.nav__container * + * {
  margin-inline-start: var(--space-s, 1.2rem);
}

.gravatar img {
  max-width: var(--step-4);
  border-radius: 1000px;
}

.button {
  padding: var(--space-2xs) var(--space-xs);
  color: var(--button-text, #073b4c);
  background: var(--button-background, #06d6a0);
  border: 0;
  border-radius: var(--border-radius, 10px);
  cursor: pointer;
}
.button input {
  background: transparent;
  border: none;
  cursor: pointer;
}

.register__button,
.account__button,
.login__button {
  align-self: flex-start;
}

.logo {
  font-size: var(--step-2, 1.8rem);
  text-decoration: none;
}

.form {
  max-width: 65ch;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-xs);
}

.form__input {
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: var(--space-2xs) var(--space-2xs);
  border-color: var(--form-border);
  border-width: 0.1rem;
  border-radius: var(--border-radius, 10px);
  border-style: solid;
}

label {
  font-size: var(--step-1);
  font-weight: 500;
}

.entry__form--container {
  padding: var(--space-s) var(--space-s);
  background: var(--form-background, #ffffff);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius, 10px);
}
.entry__form--container form {
  display: flex;
  flex-direction: column;
}
.entry__form--container form > * + * {
  margin-block-start: var(--space-3xs);
}

.entry__form--top,
.entry__form--bottom {
  display: flex;
  flex-direction: column;
}
.entry__form--top > *,
.entry__form--bottom > * {
  display: flex;
  flex-direction: column;
}
.entry__form--top > * + *,
.entry__form--bottom > * + * {
  margin-block-start: var(--space-2xs);
}

.entry__form--bottom--tags {
  display: flex;
  flex-direction: column;
  min-width: 60%;
}

@media screen and (min-width: 35rem) {
  .entry__form--bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .entry__form--bottom--post {
    flex-direction: column;
    min-width: 10rem;
  }
  .entry__form--bottom--post button {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}
.feed__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: var(--space-s);
}

.feed__item {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-xs);
  padding: var(--space-xs) var(--space-xs);
  background: var(--form-background, #ffffff);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius, 10px);
}

.feed__item--span-1 {
  grid-row: span 1;
}

.feed__item--span-2 {
  grid-row: span 2;
}

.feed__item--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed__item--header__time {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.feed__item--footer {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2xs);
  color: var(--tag-color);
}

/*# sourceMappingURL=main.css.map */
